fabric-state/dbt.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": "client-id?api-version=7.0",
          "headers": {}
        },
        "externalReferences": {
          "connection": "019d32d7-ec4d-46b7-bba2-884ec2907c49"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": true
        },
        "name": "Get client-id",
        "dependsOn": []
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": "client-secret?api-version=7.0",
          "headers": {}
        },
        "externalReferences": {
          "connection": "019d32d7-ec4d-46b7-bba2-884ec2907c49"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": true
        },
        "name": "Get client-secret",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "57e639e2-2a00-478d-a04a-c0cdcff1b661",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "client_id": {
              "value": {
                "value": "@activity('Get client-id').output.value",
                "type": "Expression"
              },
              "type": "string"
            },
            "client_secret": {
              "value": {
                "value": "@activity('Get client-secret').output.value",
                "type": "Expression"
              },
              "type": "string"
            },
            "tenant_id": {
              "value": "55226c2c-0b83-4621-a5cd-e8e0e57ec920",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Run dbt notebook",
        "dependsOn": [
          {
            "activity": "Get client-id",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Get client-secret",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}